<meu-titulo-principal titulo="{{foto.titulo}}"></meu-titulo-principal>

<p ng-show="mensagem.length" class="form-control alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()" >
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="30">
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger" >
                Título Obrigatório
            </span>
            <span ng-show="formulario.titulo.$error.maxlength" class="form-control alert-danger" >
                O título deve ter no máximo 30 caracteres
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
                Url Obrigatória
            </span>
        </div>

        <div class="form-group">
            <label>Grupo</label>
            <select name="grupo" class="form-control" required
            ng-controller="GruposController"
            ng-model="foto.grupo"
            ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
                <option value="">Selecione um grupo</option>
            </select>
            <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
                Grupo obrigatório
            </span>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>

        <button ng-disabled="formulario.$invalid" type="submit" class="btn btn-primary">
            Salvar
        </button>
         <a href="/" class="btn btn-primary" meu-focus >Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto titulo="{{foto.titulo}}" url="{{foto.url}}"></minha-foto>
    </div>
</form>
