
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CaelumEstoque.Models.CategoriaDoProduto categoria in ViewBag.Categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                @*<td>@Html.RouteLink(categoria.Nome, "DetalheCategoria", new { id = categoria.Id }) </td>*@
                <td>@categoria.Descricao</td>
            </tr>
        }
    </tbody>
</table>
